# AT32 openocd script.

# Adapter config script, set it to script for your adapter.
# See files in ${OPENOCD_PATH}/scripts/interface
source [find interface/atlink.cfg]

# Chip config script, set it to script for your chip.
# See files in ${OPENOCD_PATH}/scripts/target
source [find target/at32f405xx.cfg]

